@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/roboto';
@import "@fontsource/roboto/400.css"; 
@import "@fontsource/roboto/400-italic.css";
@import "@fontsource/roboto/500.css"; 
@import "@fontsource/roboto/500-italic.css";
@import "@fontsource/roboto/700.css"; 
@import "@fontsource/roboto/700-italic.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-green: #4e9600;
  --transparent-active: rgba(124, 180, 66, 0.2);
  --focus-color: rgb(209, 213, 219);
  --green: #8AB63F;
  --warning: #f5a524;
  --dark-warning: #f09606;
  --night:rgb(31, 41, 55);
  --dark-card-color: #2A2D34;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
}
body > div.bg-white {
  
  background-color: #f7f7f7;
}
body > div.bg-white > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.transition-none [class*=transition] {
  transition: none !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.dark input {
  color: #fff;
}
.logo a {
  display: block;
  width: 200px;
  height: 78px;
}
.dark .logo img{
  width: 100%;
  height: 100%;
  padding-left: 200px;
  overflow: hidden;
  background: url('/img/logo-dark.svg') no-repeat center / contain;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.user-menu {
  position: relative;
  
}
.nav {
  padding: 10px;
}
.nav a {
  padding: 4px 0;
  font-size: 15px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.nav a:hover {
  color: var(--dark-green)
}

.user {
  color: grey;
}

.user-button {
  font-size: 18px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
}
.menu-dropdown {
  width: 230px;
}
.dropdown {
  position: absolute;
  right: 0;
  top: 51px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown ul {
  list-style: none;
  padding: 0;
}

.dropdown li {
  margin: 10px 0;
  cursor: pointer;
}

.status {
  border-radius: 20px;
  background: var(--green);
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: auto;
}

.logout {
  color: red;
}

.justify-content-center {
  justify-content: center;
}

.object-contain {
  object-fit: contain;
}

.container {
  margin: 0 auto;
}

.language-button {
  margin-right: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
}
.language-dropdown {
  right: 21px;
  width: 42px;
}
.user-menu span {
  font-size: 15px;
}
.pt-3 {
  padding-top: 30px;
}
:focus-visible {
  outline-width: 0;
}
@keyframes enter {
  0% {
      opacity: var(--tw-enter-opacity,1);
      transform: translate3d(var(--tw-enter-translate-x,0),var(--tw-enter-translate-y,0),0) scale3d(var(--tw-enter-scale,1),var(--tw-enter-scale,1),var(--tw-enter-scale,1)) rotate(var(--tw-enter-rotate,0))
  }
}

.animate-in {
  animation-name: enter;
  animation-duration: .25s;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial
}
.slide-in-from-top {
  --tw-enter-translate-y: -0.5rem;
}
.header h1 {
  color: var(--green);
}
.hover-green {
  transition: all 0.3s ease;
}
.hover-green:hover {
  background-color: var(--transparent-active);
}
footer {
  font-size: 14px;
}
.text-green-600 {
  color: var(--green);
}
.dark .dark-bg-black {
  background-color: #3a3f44 !important;
}
.dark .border-divider {
  border-bottom: 1px solid rgb(75, 85, 99);
}
.cashback-card img, img.offer-img, .cashback-empty-img{
  border-radius: 4px !important;
  padding: 5px;
  background: #f1f1f1;
}
select:hover {
  cursor: pointer;
}
.flex-column {
  flex-direction: column;
}
.overlay {
  width: 100%;
  height: 100%;
  position: relative;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mt-5 {
  margin-top: 100px;
}
.btn {
  background-color: var(--green);

}
.btn-warning {
  background-color: var(--warning);
}
.dark .btn {
  color: #fff;
}
.btn:hover {
  background-color: var(--dark-green);
}
.btn-warning:hover {
  background-color: var(--dark-warning);
}
.offer-btn {
  min-width: 200px;
}
.back-btn {
  width: 100px;
}
.top-block {
  position: relative;
  display: flex;
  align-items: center;
}
.top-block h1 {
  transform: translateX(-50px);
}
.dark .dark-text-slate-400 {
  color: #B0B0B0 !important;
}
.dark .dark-bg-gray-800 {
  background-color: var(--dark-card-color) !important;
}
.cashback-card {
  width: calc(25% - 20px);
  margin: 10px;
}
.ordered-list {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 50px;
}
.dark .cashback-card img, .dark img.offer-img {
  background-color: #e1e1e1;
}
.dark .dark-text-white {
  color: #fff;
}
.dark .dark-bg-gray-700 {
  background-color: rgb(55 65 81);
}
.dark .dark-border-gray-600 {
  border-color: rgb(75 85 99)
}
.dark .dark-border-transparent {
  border-color: transparent;
}
.unordered-list {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 50px;
}
.static-page a {
  color: var(--green);
}
.static-page p {
  margin-bottom: 1rem;
}
.static-page ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 50px;
  margin-bottom: 1rem;
}
.static-page h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.static-page ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 50px;
  margin-bottom: 1rem;
}
.rules ol li {
  margin-bottom: 1rem;
}
.static-page ol li p {
  font-size: .875rem;
  line-height: 1.25rem;
  margin-top: .5rem;
}
.static-page a:hover {
  color: var(--dark-green);
}
.rules {
  font-size: 18px;
}
.text-green {
  color: var(--green);
}
.text-darkgreen {
  color: var(--dark-green);
}
.bg-default-100 {
  background-color: #fff;
}
.dark .bg-default-100, .dark .bg-content1, 
.dark .focus-within\:hover\:bg-default-100:hover:focus-within,
.dark .hover\:bg-default-200:hover,
.dark .group[data-focus="true"] .group-data-\[focus\=true\]\:bg-default-100 {
  background-color: var(--dark-card-color) !important
}
.dark .bg-content1 {
  color: #fff;
}
.focus-within\:hover\:bg-default-100:hover:focus-within,
.hover\:bg-default-200:hover,
.group[data-focus="true"] .group-data-\[focus\=true\]\:bg-default-100 {
  background-color: #fff !important;
}
.cashback-item {
  width: 320px;
}
.data-\[selected\=true\]\:bg-primary[data-selected="true"] {
  background-color: var(--green) !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.max-w-500 {
  max-width: 500px;
}
.history-item {
  justify-content: center;
  align-items: center;
}
.file-input {
  display: none;
}

.custom-file-label {
  background-color: #fff;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 12px;
}
.dark .custom-file-label {
  background-color: var(--dark-card-color);
}
.data-\[hover\=true\]\:text-primary-400[data-hover="true"] {
  color: var(--green) !important;
}
.data-\[hover\=true\]\:bg-primary-50[data-hover="true"] {
  background-color: var(--transparent-active) !important;
}
.dark .pagination .border-input {
  border-color: rgb(75 85 99);
}
@media(max-width: 1199px){
  .cashback-card {
    width: calc(33.3% - 20px);
  }
}
@media(max-width: 767px){
  .top-block {
    flex-direction: column;
  }
  .top-block h1 {
    transform: none;
  }
  .back-btn {
    margin-bottom: 25px;
  }
  .cashback-card {
    width: calc(50% - 20px);
  }
}
@media(max-width: 639px){
  .cashback-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;  
  }
  .cashback-form > *{
    width: 100%;
  }
  .cashback-form .react-date-picker {
    height: 56px;
  }
  input, select, .react-date-picker__inputGroup__divider, .react-date-picker__inputGroup__leadingZero {
    font-size: 16px !important;
  }


}
@media(max-width: 550px){
  .cashback-card {
    width:100%;
    margin: 10px 0;
  }
  .history-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .history-btn {
    margin-left: auto;
  }
  .header h1 {
    font-size: 18px;
  }
  .logo {
    margin-right: -25px;
  }
  .logo a {
    width: 150px;
    height: 60px;
  }
  .dark .logo img {
    padding-left: 150px;
  }
  .language-button {
    margin-right: 10px;
  }
}
@media(max-width: 460px){
  .header {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .nav-btn {
    margin: 10px;
  }
  .nav-btns {
    margin-left: auto;
  }
  

}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --nextui-disabled-opacity: 0.5;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
